@use "abstract/variable" as v;
@use "abstract/mixin" as m;

.header {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include m.screen("md") {
    flex-direction: row;
    justify-content: space-between;
  }
}
