@use "abstract/mixin" as m;
@use "abstract/variable" as v;

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include m.screen('md') {
    flex-direction: row;
    gap: 2rem;
  }
  &__link{
    margin-bottom: 2rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    &:last-of-type{
      margin: 0;
    }
    @include m.screen('md') {
      margin: 0;
    }
    &--create{
      font-weight: 700;
      color: v.$primary;
      @include m.screen('md') {
        &::after{
          content: '';
          display: inline-block;
        
          border-right: 2px solid v.$light-grey;
        }
      }
    }
  }
}
