@use "../../abstract/mixin" as m;
@use "../../abstract/variable" as v;

.meeti {
  padding: 5rem 0;

  &__title {
    text-transform: uppercase;
  }
  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;

    @include m.screen("md") {
      @include m.grid(6, 2rem);
    }
  }
}
